.editable:hover {
  background: #ffffff !important;
  color: #000000 !important;
}

.editable:focus {
  background: #ffffff !important;
  color: #000000 !important;
}

.editable {
  background: #343a40 !important;
  color: #ffffff !important;
}

.cursor-pointer {
  cursor: pointer;
}

.profile-picture>input {
  display: none;
}