.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: var(--dark);
  border: 1px 1px 1px 0 solid var(--dark);
}

.nav-pills .nav-link {
  color: var(--dark);
  background-color: transparent;
  border: 1px 1px 1px 0 solid var(--dark);
  border-radius: .25rem .25rem 0 0;
}